$ff-display: "Cormorant Garamond", serif;
$ff-body: "Lato", sans-serif;
$ff-code: "Roboto Mono", monospace;

$color-white: #ffffff;
$color-light: #f5f5f5;

$color-primary: #086ab7;
$color-secondary: #ff4646;
$color-text: #000000;

$phi: 1.61803398875;
